#allplaces div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "name"
        "image"
        "address"
        "description"
        "button";
}

#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#allplaces div img {
    width: 200px;
    height: 200px;
    padding: 5px;
    object-fit: cover;
    grid-area: image;
}

#allplaces div p {
    margin: 1rem 10px;
    grid-area: description;
}

#allplaces div address {
    margin: 1rem 10px;
    grid-area: address;
    font-style: normal;
}

#allplaces div button {
    margin: 1rem 10px;
    grid-area: button;
}

#allplaces div:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

