/*************** Site Wide***********/

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/*************** header logo ***********/
header {

    display: grid;
    grid-template-columns: 24px auto 44px; 
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}
header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}
/*************** Hamburger***********/
.hamburger{
    background: none;
    border: none;
    font-size: 2rem;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana;
}
.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}
/*************** navigation ***********/
.navigation {
    display: none;
    background-color: #0c0c0c;
}

.navigation.show {
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: #ddd;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
.navigation li.current{
    background-color: #0c0c0c;

}
.navigation a:hover{
    background-color: #E07A5F;
}
/*************** h1 ***********/
h1 {
    margin-left: 10px;
}
/*************** container main ***********/
body {
    font-family: "Sansita", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333
}

main {
    padding: 15px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card-header {
    background-color: #0c0c0c;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.card {
    flex: 1;
    border: 1px solid #0c0c0c;
    border-radius: 10px;
    overflow: hidden;
}
.content {
    padding: 40px;
}

.profile-img {
    float: center;
    width: 70%;
    padding: 20px 20px 20px ;
    margin-left: 135px;
    
}

