.join-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 4.5rem auto;
    padding: 1rem;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    font-weight: bold;
}

.wf1 legend {
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    font-size: .9rem;
    font-weight: bold;
}

.wf1 input[type="submit"] {
    background-color: #3f3ce7;
    color: white;
    border: none;
    padding: 0.9rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}


.wf1 input,
.wf1 select,
.wf1 textarea {
    margin-top: 0.4rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.wf1 input:focus,
.wf1 select:focus,
.wf1 textarea:focus {
    outline: 2px solid #3f3ce7;
    border-color: #3f3ce7;
}

/******************** button**********/
h2 {
    text-align: center;

}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: 2rem 0;
}

.membership-container .card button {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    background: #3f3ce7;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

dialog {
    width: 400px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}


#form-results h3 {
    margin: 0.5rem 0;
    color: #333;
}

#form-results p {
    font-weight: bold;
    color: #333;
}

#form-results {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.cta-button {
        margin: 1rem;
        padding:  1.2rem;
        background: #3f3ce7;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}